.footer-infos {
  h2 {
    font-size: 35px;
    color: #22a7df;
    font-weight: 700;
    margin-bottom: 0;
  }
}
.footer-share {
  padding-top: 30px;
  padding-bottom: 30px;
  .container {
    border: solid 1px #fdd446;
    border-radius: 100px;
    padding: 20px 100px;
    @media (max-width: 768px) {
      padding: 50px 30px;
    }
    h2 {
      font-size: 18px;
      color: #fdc300;
      font-weight: 700;
      margin-bottom: 0;
      text-transform: uppercase;
      padding-bottom: 25px;
    }
  }
}

footer.footer {
  background: url(../../img/footer-bottom-top-bg.jpg) center top no-repeat
    #009fe3;
  padding-top: 250px;
  padding-bottom: 50px;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      display: flex;
      width: 13px;
      height: 14px;
      background: url(../../img/footer-menu-icon.png) center no-repeat;
      margin-right: 8px;
    }
    a {
      color: #fff;
    }
  }
}

.apoio {
  text-align: center;
}
