.page-header {
  background: #6c246e;
  color: #f9c400;
  font-weight: 700;
  font-size: 32px;
  padding: 25px 50px;
  border-radius: 50px;
  margin-bottom: 60px;
}

.titles {
  color: #029fe6;
  font-weight: 700;
  font-size: 18px;
}

.table-content {
  caption {
    display: none;
  }
  table {
    border-collapse: separate;
    border-spacing: 15px;
    th {
      background-color: #e6dfd9;
      color: #1e1e1e;
      border: 0;
    }
    td {
      border: 0;
    }
    tr:nth-child(odd) td {
      background-color: #fff;
    }
    tr:nth-child(even) td {
      background-color: #f4f3f1;
    }
  }
}
