/* line 2, scss/custom/footer.scss */
.footer-infos h2 {
  font-size: 35px;
  color: #22a7df;
  font-weight: 700;
  margin-bottom: 0; }

/* line 9, scss/custom/footer.scss */
.footer-share {
  padding-top: 30px;
  padding-bottom: 30px; }
  /* line 12, scss/custom/footer.scss */
  .footer-share .container {
    border: solid 1px #fdd446;
    border-radius: 100px;
    padding: 20px 100px; }
    @media (max-width: 768px) {
      /* line 12, scss/custom/footer.scss */
      .footer-share .container {
        padding: 50px 30px; } }
    /* line 19, scss/custom/footer.scss */
    .footer-share .container h2 {
      font-size: 18px;
      color: #fdc300;
      font-weight: 700;
      margin-bottom: 0;
      text-transform: uppercase;
      padding-bottom: 25px; }

/* line 30, scss/custom/footer.scss */
footer.footer {
  background: url(../../img/footer-bottom-top-bg.jpg) center top no-repeat #009fe3;
  padding-top: 250px;
  padding-bottom: 50px; }

/* line 37, scss/custom/footer.scss */
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  /* line 41, scss/custom/footer.scss */
  .footer-menu li {
    font-size: 18px;
    font-weight: 100;
    display: flex;
    align-items: center; }
    /* line 46, scss/custom/footer.scss */
    .footer-menu li:before {
      content: "";
      display: flex;
      width: 13px;
      height: 14px;
      background: url(../../img/footer-menu-icon.png) center no-repeat;
      margin-right: 8px; }
    /* line 54, scss/custom/footer.scss */
    .footer-menu li a {
      color: #fff; }
