/* line 1, scss/custom/header.scss */
header.header {
  min-height: 645px;
  background: url(../../img/header-bg.png) center bottom no-repeat;
  margin-bottom: 90px;
  position: relative; }
  /* line 9, scss/custom/header.scss */
  header.header .unicef,
  header.header .faixa-etaria {
    content: "";
    display: block;
    position: absolute;
    bottom: 0; }
  /* line 17, scss/custom/header.scss */
  header.header .unicef {
    width: 107px;
    height: 57px;
    background: url(../../img/unicef-logo.png) center no-repeat;
    background-size: contain;
    left: 15vw;
    margin-bottom: -70px; }
  /* line 27, scss/custom/header.scss */
  header.header .faixa-etaria {
    width: 107px;
    height: 82px;
    background: url(../../img/faixa-etaria.png) center no-repeat;
    background-size: contain;
    right: 15vw;
    margin-bottom: -70px; }
  /* line 36, scss/custom/header.scss */
  header.header .region-header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end; }
    /* line 43, scss/custom/header.scss */
    header.header .region-header > div[class*="branding"] .navbar-brand {
      margin: 0; }
      /* line 45, scss/custom/header.scss */
      header.header .region-header > div[class*="branding"] .navbar-brand a {
        width: 100%;
        height: 100%;
        max-width: 345px;
        max-height: 249px;
        margin-bottom: 150px; }
        /* line 52, scss/custom/header.scss */
        header.header .region-header > div[class*="branding"] .navbar-brand a img {
          width: 100% !important;
          height: 100% !important;
          object-fit: contain; }
      /* line 58, scss/custom/header.scss */
      header.header .region-header > div[class*="branding"] .navbar-brand div {
        display: none; }
